.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.idea
.idea/*
.vagrant
.kitchen
.kitchen/*
=======
# fonoster
nodes/
clients/
astivetoolkit/
berks-cookbook
# eclipse
.classpath
.project
.settings

# maven
target/
src/main/java/META-INF/

# Vagrant
.vagrant/

# common junk
*.log
*.swp
*.diff
*.patch

# intellij
*.iml
*.ipr
*.iws
.idea/

# Mac filesystem dust
/.DS_Store

# pmd
.pmdruleset
.pmd

# netbeans
/nbproject

# vim
.*.sw[a-p]

# merge tooling
*.orig

# xmlmind
*~

