version: '2.1'
services:
  fnast:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-ast
    image: grc.io/fonoster-app/fnast:latest
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '5038:5038'
  fnmongodb:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-mongodb
    image: grc.io/fonoster-app/fnmongodb:latest
    environment:
      FONOSTER_ENV: dev
    ports:
      - '27017:27017'
  fnapp:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-appbase
    image: grc.io/fonoster-app/fnapp_base:latest
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
      - /tmp:/opt/app-base/webapps
      - /tmp:/opt/astive/apps
    environment:
      DB_HOST: fnmongodb
      MANAGER_HOST: fnast
      BRAINTREE_ENV: SANDBOX
    ports:
      - '8080:8080'
      - '8443:8443'
      - '4573:4573'
      - '5060:5060'
      - '5061:5061'
      - '5062:5062'
      - '5060/udp:5060/udp'
      - '5061/udp:5061/udp'
      - '5062/udp:5062/udp'
