version: '2.1'
services:
  fnast:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-ast
    image: grc.io/fonoster-app/fnast:latest
    volumes:
      - /opt/rallypoint/media/recordings:/var/lib/fonoster/recordings
      - /opt/rallypoint/media/tts:/var/lib/fonoster/tts
    ports:
      - '5038:5038'
  fnmongodb:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-mongodb
    image: grc.io/fonoster-app/fnmongodb:latest
    environment:
      - FONOSTER_ENV='dev'
    ports:
      - '27017:27017'
  fnapp:
    build:
      context: .
      dockerfile: etc/docker-files/dockerfile-appbase
    image: grc.io/fonoster-app/fnapp_base:latest
    volumes:
      - /opt/rallypoint/media/recordings:/var/lib/fonoster/recordings
      - /opt/rallypoint/media/tts:/var/lib/fonoster/tts
      - /opt/rallypoint/webapps:/opt/app-base/webapps
      - /opt/rallypoint/voiceapps:/opt/astive/apps
    environment:
      - DB_HOST='fnmongodb'
      - MANAGER_HOST='fnast'
    ports:
      - '8181:8080'
      - '8443:8443'
      - '4573:4573'
      - '5060:5060'
      - '5061:5061'
      - '5062:5062'
      - '5060/udp:5060/udp'
      - '5061/udp:5061/udp'
      - '5062/udp:5062/udp'