version: '3.4'
services:
  fnbase:
    build:
      context: .
      dockerfile: etc/docker-files/fnbase.df
    image: gcr.io/fonoster-app/fnbase:latest
  fndb:
    depends_on: [fnbase]
    build:
      context: .
      dockerfile: etc/docker-files/fndb.df
    image: gcr.io/fonoster-app/fndb:latest
    environment:
      FONOSTER_ENV: dev
    ports:
      - '27017:27017'
  fnapi:
    depends_on: [fnbase, fndb]
    build:
      context: .
      dockerfile: etc/docker-files/fnapi.df
    image: gcr.io/fonoster-app/fnapi:latest
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '8080:8080'
      - '8443:8443'
    environment:
      DB_HOST: fndb
      MANAGER_HOST: fnasterisk
      BRAINTREE_ENV: SANDBOX
  fnwebconsole:
    depends_on: [fnbase, fnapi]
    build:
      context: .
      dockerfile: etc/docker-files/fnwebconsole.df
    image: gcr.io/fonoster-app/fnwebconsole:latest
    environment:
      DB_HOST: fndb
      MANAGER_HOST: fnasterisk
      BRAINTREE_ENV: SANDBOX
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '8081:8080'
      - '8444:8443'
  fnvoiceapps:
    depends_on: [fnbase,fnapi]
    build:
      context: .
      dockerfile: etc/docker-files/fnvoiceapps.df
    image: gcr.io/fonoster-app/fnvoiceapps:latest
    environment:
      DB_HOST: fndb
    ports:
      - '4573:4573'
  fnsipproxy:
    depends_on: [fnbase, fnapi]
    build:
      context: .
      dockerfile: etc/docker-files/fnsipproxy.df
    image: gcr.io/fonoster-app/fnsipproxy:latest
    environment:
      RES_API_URL: http://fnapi:8080/v1/admin
      EXTERN_ADDR: 192.168.1.2
      LOCALNETS: "'10.0.0.2/32'"
      EXTERN_ASTERISK_ADDR: '192.168.1.2:5060'
    ports:
      - '5060:5060'
      - '5061:5061'
      - '5062:5062'
  fnasterisk:
    depends_on: [fnbase]
    build:
      context: .
      dockerfile: etc/docker-files/fnasterisk.df
    image: gcr.io/fonoster-app/fnasterisk:latest
    environment:
      EXTERN_ADDR: 192.168.1.2:5060
      LOCALNET: 10.0.0.0/32
      APPS_SERVER_HOST: fnvoiceapps
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '5038:5038'
      - '6060:6060'
      - '6060:6060/udp'
  fnjetty:
    depends_on: [fnbase]
    build:
      context: .
      dockerfile: etc/docker-files/fnjetty.df
    image: gcr.io/fonoster-app/fnjetty:latest
    ports:
      - '80:8080'