version: '3.4'
services:
  dbsys:
    build:
      context: docker/dbsys
      dockerfile: dbsys.df
    image: gcr.io/fonoster-app/dbsys:latest
    environment:
      FONOSTER_ENV: dev
    ports:
      - '27017:27017'
  webapp:
    depends_on: [dbsys]
    build:
      context: .
      dockerfile: docker/webapp/webapp.df
    image: gcr.io/fonoster-app/webapp:latest
    ports:
      - '8080:8080'
      - '8443:8443'
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
  mediaserver:
    build:
      context: docker/mediaserver
      dockerfile: mediaserver.df
    image: gcr.io/fonoster-app/mediaserver:latest
    environment:
      ASTERISK_EXTERN_ADDR: 192.168.1.2
      ASTERISK_SIPPROXY_HOST: sipproxy
      ASTERISK_SIPPROXY_USERNAME: ast
      ASTERISK_SIPPROXY_SECRET: N8p2exTu
      ASTERISK_FASTAGI_HOST: mediacontroller
      ASTERISK_MANAGER_SECRET: 308a002ab539471394a06ce710bc96c2
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '5038:5038'
  mediacontroller:
    depends_on: [dbsys]
    build:
      context: .
      dockerfile: docker/mediacontroller/mediacontroller.df
    image: gcr.io/fonoster-app/mediacontroller:latest
    volumes:
      - /tmp:/var/lib/fonoster/recordings
      - /tmp:/var/lib/fonoster/tts
    ports:
      - '4573:4573'
      - '4200:4200'
      - '4202:4202'
  sipproxy:
    environment:
      - SIPIO_EXTERN_ADDR=192.168.1.2
      - SIPIO_DS_PROVIDER=restful_data_provider
      - SIPIO_DS_PARAMETERS=baseUrl=http://webapp:8080/v1/ctl,username=admin,secret=308a002ab539471394a06ce710bc96c2
    image: fonoster/sipio:latest
    ports:
      - '5060:5060'
      - '5060:5060/udp'
      - '5061:5061'
      - '5062:5062'
      - '5063:5063'
      - '4567:4567'
