<div ng-controller="PasswordCtrl">
    <form name="passwordForm" ng-submit="update(request)" novalidate>
        <div layout="column" >
            <md-input-container>
                <label>Password</label>
                <input name="password" ng-model="request.password" type="password"
                       pattern="(.{7,20})">
                <div ng-show="passwordForm.password.$error.pattern" ng-messages="passwordForm.confirmPassword.$error.compareTo" role="alert">
                    <div ng-message-exp="['pattern']">
                       Ensure: At least 7 characters. But we recommend also one uppercase character, one lowercase character and one special character(@#$%!.)
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Re-type</label>
                <input name="confirmPassword" ng-model="request.confirmPassword" type="password" compare-to="request.password" novalidate>
                <div ng-show="passwordForm.confirmPassword.$error.compareTo" ng-messages="passwordForm.confirmPassword.$error.compareTo" role="alert">
                    <div ng-message-exp="['compare-to']">
                        Don't match
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <span flex></span>
            <md-button type="submit" md-no-ink class="md-raised md-primary" ng-disabled="request.password == '' ||passwordForm.$invalid" >Update</md-button>
        </div>
    </form>
</div>