<md-dialog>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Enter your credentials</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <div layout-padding layout="column" >
            <md-input-container>
                <label>Username</label>
                <input  ng-model="request.email" type="email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="request.password" type="password">
            </md-input-container>
        </div>
        <div layout="row">
            <span flex></span>
            <md-button ng-click="regenerate(request)"   md-no-ink class="md-warn">Regenerate</md-button>
        </div>
    </form>
</md-dialog>