<md-card id="recordings-widget">
    <md-toolbar class="md-table-toolbar md-default" ng-show="!filter" aria-hidden="false">
        <div class="md-toolbar-tools">
            <span>Recordings</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Search" ng-click="filter=true">
                <md-icon md-font-library="material-icons">search</md-icon>
                <md-tooltip md-direction="left">
                    Search recordings
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="filter" aria-hidden="false">
        <div class="md-toolbar-tools">
            <p class="md-body-1">From</p>
            <md-datepicker class="right15" ng-model="startDate" md-placeholder="dd/mm/yyyy" ng-change="updateView()"></md-datepicker>
            <p class="md-body-1">To</p>
            <md-datepicker ng-model="endDate" md-placeholder="dd/mm/yyyy" ng-change="updateView()"></md-datepicker>
            <span flex></span>
            <md-button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="close" ng-click="filter=false">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-progress="deferred">
            <thead md-head md-order="query.order" md-on-reorder="onOrderChange">
                <tr md-row>
                    <th md-column>Recording</th>
                    <th md-column md-order-by="duration">Duration</th>
                    <th md-column md-order-by="created">Date</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr ng-show="recording.audio.audio.duration > 0" md-row ng-init='load(recording)' ng-repeat="recording in recordings.recordings | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                    <td md-cell>
                        <div class="recordings-player">
                            <md-button ng-show="recording.audio.currentTime == recording.audio.audio.duration && isAva(recording)" ng-model="recording.audio" ng-click="play(recording)" class="md-icon-button md-accent" aria-label="Favorite">
                                <md-icon md-font-library="material-icons">replay</md-icon>
                            </md-button>
                            <md-button ng-show="recording.audio.currentTime > 0 && recording.audio.currentTime != recording.audio.audio.duration && isAva(recording)" ng-model="recording.audio" ng-click="stop(recording)" class="md-icon-button md-accent" aria-label="Favorite">
                                <md-icon ng-hide="!isAva(recording)" md-font-library="material-icons">stop</md-icon>
                            </md-button>
                            <md-button ng-hide="recording.audio.currentTime > 0 || !isAva(recording)" ng-model="recording.audio" ng-click="play(recording)" class="md-icon-button md-accent" aria-label="Favorite">
                                <md-icon md-font-library="material-icons">play_circle_outline</md-icon>
                            </md-button>
                            <span ng-hide="!isAva(recording)">{{recording.audio.currentTime | trackTime}}</span>
                            <span ng-hide="isAva(recording)"><i>NOT_AVAILABLE</i></span>
                        </div>
                    </td>
                    <td md-cell>{{recording.audio.audio.duration | trackTime}}</td>
                    <td md-cell class="w150">{{recording.created | asCalendar}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit-options="[10, 20, 50]" md-limit="query.limit" md-page="query.page" md-total="{{recordings.total}}" md-on-paginate="onPageChange" md-page-select></md-table-pagination>
</md-card>
