<md-dialog aria-label="Request New Number"  ng-cloak>
    <form>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Add new number</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Procedures to obtain a new number</h2>
                <p>
                    To obtain a new number send us an email to
                    <a href="mailto:fonosterteam@fonoster.com?Subject=New%20Number%20Request" target="_top">fonosterteam@fonoster.com</a>
                    with the subject "New Number Request". The body of the email, must indicate:
                </p>
                <ul>
                    <li>Your account ID(email)</li>
                    <li>Country and City of requested number</li>
                    <li>Any notes or comments</li>
                </ul>

                <p>We will review your request and send you a quote and details to complete your transaction.</p>

                <p><small>(Note: Currently we only offer numbers from USA and Dom Rep.)</small></p>
        </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Got it
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>