apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: fonoster
spec:
  ports:
  - name: http
    port: 80
    targetPort: 8080
  - name: https
    port: 443
    targetPort: 8443
  selector:
    app: fonoster
    tier: frontend
  type: LoadBalancer
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: webapp
  labels:
    app: fonoster
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: fonoster
        tier: frontend
    spec:
      containers:
      - name: webapp
        image: gcr.io/fonoster-app/webapp:latest
        imagePullPolicy: Always
        env:
        - name: DB_HOST
          value: datasys
        - name: MANAGER_HOST
          value: mediaserver
        ports:
        - containerPort: 8080
          name: http
        - containerPort: 8443
          name: https
        volumeMounts:
        - name: pd
          mountPath: /var/lib/fonoster
      volumes:
      - name: pd
        persistentVolumeClaim:
          claimName: pvc0002