<style>
    .md-content {
        background-color: #fff;
    }
</style>
<md-card id="settings-widget" ng-cloak>
    <md-tabs md-dynamic-height>
        <md-tab label="profile">
            <md-content class="md-padding md-content">
                <profile></profile>
            </md-content>
        </md-tab>
        <md-tab label="account">
            <md-content class="md-padding md-content">
                <account></account>
            </md-content>
        </md-tab>
        <md-tab label="billing">
            <md-content class="md-padding md-content">
                <billing></billing>
            </md-content>
        </md-tab>
        <md-tab label="password">
            <md-content class="md-padding md-content">
                <password></password>
            </md-content>
        </md-tab>
    </md-tabs>
</md-card>
